{% extends "layout.njk" %}

{% block head %}
	<title>Sobre - Thyago Nunes</title>
{% endblock %}

{% block content %}
	
<div id="wrapper">
	<img src="https://avatars2.githubusercontent.com/u/52137022?s=460&u=8d0b59a6e9cd17a06c5c8175c40a04e8f58be3ff&v=4" alt="Thyago Nunes">
	<h1>Thyago Nunes</h1>
	<p>Developer</p>
</div>


<div class="links_social_midia">


	<a id="email" href="https://www.github.com/thyagonunes"target="_blank">
		<img src="../icons/github2.png" class="media-object img-responsive img-thumbnail">
	</a>

	<a id="linkedin" href="https://www.linkedin.com/in/thyagonunes"target="_blank">
		<img src="../icons/linkedin2.png" class="media-object img-responsive img-thumbnail">
	</a>

	<a id="twitter"href="https://www.twitter.com/thyagonunes_" target="_blank">
		<img src="../icons/twitter2.png" class="media-object img-responsive img-thumbnail">
	</a>

	<a id="instagram"href="https://www.instagram.com/thyagonunes_"target="_blank">
		<img src="../icons/instagram2.png" class="media-object img-responsive img-thumbnail">
	</a>
	  
    </div>
		
		<div class="footer">
            <p>© 2020 Thyago Nunes · Powered by Dev nunes</p>
        </div>


{% endblock %}
