<!DOCTYPE html>
<head>
    <title>home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <div class="links">
            <a href="/">Home</a>
            <a href="/content">Content</a>
        </div>
    </header>

    <div id="wrapper">
        <img src="https://lh3.googleusercontent.com/-mBFfJuArczBwfgBpdOpho6YCre33eKuNhpsUPYF5w9vyeBmM-AVmGhrvhlvraPAgGmmxenjPeqqDnZdkEauWoesR-XRnM7jquTxjJnnkY2jUCa48eivsDN9FyZcDQuiRO6rYtF5FRlNEvGPlxPLC7RUQxxHS68TnJhBMa-vYxSW-W_NmItcwxMj4Ug0U_ZdKxhPdas8snvfQZq_FRdtexcSjJJSvnQCm7F0BiYIT6tx3P4vjN8AgousIgFNLcnUSw-7UYGmdb859PeYEirfeB7c7Mh3qGaJuC3F0C7CefEXpIfMczbqK6b1JN9cpkOjTlLf5nwtMhdUlmDbfVicOkveDyYdE4e9Ak3SZuYYtBKiC_cN3-ECTjPrdSBYr0Dyk7XL1uWr7HhzWmRlQdiqSUT43LxbNKczp-yxbREybFJmmLqL5dNjqx7s2u88zRjoKopg0kNDo3pOf7dv0_hiCQPBLrXsSKbpp21GS9a67lSDTstqIyfSX-eGaOZ17m7qfhBJ7TyoETU3SVv5ETYcMyp1113Th-xYkDkq2dd4_kvuipLAkcFI2JdZ613b1ZeqYfJNf0j74Hgiy0dq1Esgw-rglbW9mdd5MHrVUp_OnRe2p9vnNFr55FnsuYlf_y97RuZaLlcGv4PYidsfHI-MWI0PwKAd7IjyszeIhQaI47lzTBCUmCrEzOkl5N_mPAg=w502-h676-no?authuser=0" alt="github">
        <h1>Thyago Nunes</h1>
        <p>Developer</p>
    </div>

    <div class="social_midias">
        <a id="github"href="https://www.github.com/thyagonunes"target="_blank">
            <img src="icons/github2.png" class="media-object img-responsive img-thumbnail">
        </a>

        <a id="linkedin"href="https://www.linkedin.com/in/thyagonunes"target="_blank">
            <img src="icons/linkedin2.png" class="media-object img-responsive img-thumbnail">
        </a>

        <a id="twitter"href="https://www.twitter.com/thyagonunes_"target="_blank">
            <img src="icons/twitter2.png" class="media-object img-responsive img-thumbnail">
        </a>

        <a id="instagram"href="https://www.instagram.com/thyagonunes_"target="_blank">
            <img src="icons/instagram2.png" class="media-object img-responsive img-thumbnail">
        </a>
    </div>
    
    <div class="footer">
        <p>© 2020 Thyago Nunes · Powered by Dev nunes</p>
    </div>

    
</body>
</html>

<!-- 

<a id="instagram"href="https://www.instagram.com/thyagonunes_"target="_blank">
    <img src="icons/instagram.png" class="media-object img-responsive img-thumbnail">
</a>

<a href="https://www.qries.com/">
    <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
    width=150" height="70">

     -->
