<!DOCTYPE html>
<head>
    <title>home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <header>
        <div class="links">
            <a href="/">Home</a>
            <a href="/content">Content</a>
        </div>
    </header>

    <div id="wrapper">
        <img src="https://avatars1.githubusercontent.com/u/52137022?s=460&u=99d9438cdb5b5ec313da29bf02e00b6219e62743&v=4" alt="github">
        <h1>Thyago Nunes</h1>
        <p>Developer</p>
    </div>

    <div class="social_midias">
        <a id="github"href="https://www.github.com/thyagonunes"target="_blank">
            <img src="icons/github2.png" class="media-object img-responsive img-thumbnail">
        </a>

        <a id="linkedin"href="https://www.linkedin.com/in/thyagonunes"target="_blank">
            <img src="icons/linkedin2.png" class="media-object img-responsive img-thumbnail">
        </a>

        <a id="twitter"href="https://www.twitter.com/thyagonunes_"target="_blank">
            <img src="icons/twitter2.png" class="media-object img-responsive img-thumbnail">
        </a>

        <a id="instagram"href="https://www.instagram.com/thyagonunes_"target="_blank">
            <img src="icons/instagram2.png" class="media-object img-responsive img-thumbnail">
        </a>
    </div>
    
    <div class="footer">
        <p>© 2020 Thyago Nunes · Powered by Dev nunes</p>
    </div>

    
</body>
</html>

<!-- 

<a id="instagram"href="https://www.instagram.com/thyagonunes_"target="_blank">
    <img src="icons/instagram.png" class="media-object img-responsive img-thumbnail">
</a>

<a href="https://www.qries.com/">
    <img alt="Qries" src="https://www.qries.com/images/banner_logo.png"
    width=150" height="70">

     -->
