<!DOCTYPE html>
<head>
    <title>home</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
<body>

    <header>
        <div class="links">
            <a href="/">Home</a>
            <a href="/content">Content</a>
        </div>
    </header>

    <section class="cards">

        <div class="card" id="EhnXaybirdA">
            <div class="card-img-content">
                <img src="https://thumbnailgrabber.com/image/ByALOFGjU.jpg" alt="projeto">
            </div>
            <div class="card-content">
                <p>Criando um projeto do zero para seu portfólio</p>
            </div>
            <div class="card-info">
                <p class="time">44 min</p>
                <p class="price">Master Class</p>
            </div>
        </div>

        <div class="card" id="KISMYYXSIX">
            <div class="card-img-content">
                <img src="https://thumbnailgrabber.com/image/HyEzTYzsU.jpg" alt="projeto">
            </div>
            <div class="card-content">
                <p>Autenticação no React Native / ReactJS com Context API & Hooks</p>
            </div>
            <div class="card-info">
                <p class="time">1 hour 10 min</p>
                <p class="price">Master Class</p>
            </div>
        </div>

        <div class="card" id="mxIhSTP6ddE">
            <div class="card-img-content">
                <img src="https://thumbnailgrabber.com/image/SJ5p0YGjU.jpg" alt="projeto">
            </div>
            <div class="card-content">
                <p>Utilizando UX para projetar uma aplicação do zero</p>
            </div>
            <div class="card-info">
                <p class="time">1 hour 18 min</p>
                <p class="price">Master Class</p>
            </div>
        </div>

        <div class="card" id="0mYq5LrQN1s">
            <div class="card-img-content">
                <img src="https://thumbnailgrabber.com/image/SJFVJ5fj8.jpg" alt="projeto">
            </div>
            <div class="card-content">
                <p>TypeScript, o início, de forma prática</p>
            </div>
            <div class="card-info">
                <p class="time">1 hour 10 min</p>
                <p class="price">Master Class</p>
            </div>
        </div>

        <div class="card" id="P65RJTTqkN4">
            <div class="card-img-content">
                <img src="https://thumbnailgrabber.com/image/rkmCJ9MjI.jpg" alt="projeto">
            </div>
            <div class="card-content">
                <p>Formulários no ReactJS & React Native com Unform</p>
            </div>
            <div class="card-info">
                <p class="time">47 min</p>
                <p class="price">Master Class</p>
            </div>
        </div>

        <div class="card" id="3tB0uDliS6Y">
            <div class="card-img-content">
                <img src="https://thumbnailgrabber.com/image/SJt4e9GoI.jpg" alt="projeto">
            </div>
            <div class="card-content">
                <p>Masterizando o Insomnia</p>
            </div>
            <div class="card-info">
                <p class="time">34 min</p>
                <p class="price">Master Class</p>
            </div>
        </div>
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <div class="modal-content">
                <iframe src="https://www.youtube.com/embed/EhnXaybirdA" frameborder="0"></iframe>
            </div>
        </div>
    </div>
   
<script src="scripts.js"></script>

</body>
</html>