<!DOCTYPE html>
<head>
     
    {% block head %}
        <title>Thyago Nunes</title>
    {% endblock %}

	<link rel="stylesheet" href="/style.css">
	<link rel="shortcut icon" href="favicon.ico">
</head>
<body>
	

	
	<header class="link_page" >

			<a href="/" >Sobre</a>
			<a href="/portfolio" >Videos</a>

	</header>


    {% block content %}{% endblock %}

</body>
</html>

