{% extends "layout.njk" %}

{% block head %}
<title>{{item.titleVideo}}</title>
{% endblock %} 

{% block content %}

    <div id="wrapper" class="video">
        <h1 class="titleVideo">{{videos.titleVideo}}</h1>
    </div>	

	<section class="video">
    
        <div class="card" id="{{videos.id}}">
            <div class="card_video_container" >
				<iframe src="https://www.youtube.com/embed/{{videos.id}}" frameborder="0"></iframe>


            </div>

            <div class="card_content">
                <p>{{videos.titleVideo}}</p>
            </div>

            <div class="card_info">
                <p class="card_time">{{videos.duration}}</p>
                <p class="card_price">{{videos.feeling}}</p>
            </div>

        </div>
	</section>

{% endblock %}