@import "https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,700&display=swap";

* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #1f2633;
	color: black;
}

/* ==========     HEADER     ========== */

.link_page {
	width: 375px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	gap: 10px;
	padding: 0;
	margin: 0 auto;
	top: 10px;
	position: relative;
}

.link_page a {
	border: 3px solid black;
	padding: 10px;
	text-decoration: none;
	position: relative;
	border-radius: 10px;
	text-align: center;
	color: black;
    font-weight: 900;
	background-color: white;   
}

.link_page a:hover {
	color: white;
	transition: color 200ms;
	background-color: grey;
	border: 3px solid black;
	font-weight: 900;
	transition: 400ms;
	filter: contrast(200%);
}

/* ==========     WRAPPER     ========== */

#wrapper {
	padding: 32px;
	top: 100px;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

#wrapper img {
	border-radius: 50%;
	width: 220px;
	text-align: center;
	position: relative;
	border: 4px solid white;
}

#wrapper h1 {
	font-size: 35px;
	top: 80px;
	position: relative;
	color: whitesmoke;
}

#wrapper p {
	font-size: 28px;
	top: 120px;
	position: relative;
	color: whitesmoke;
}

#wrapper p.desc {
	position: relative;
	font-size: 20px;
	text-align: center;
	top: 150px;
	font-style: italic;
}


/* ==========     SOCIAL MIDIAS     ========== */

div.links_social_midia {
    text-align: center;
    position: relative;
    width: 300px;
    margin: 0 auto;
    top: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.links_social_midia img {
    width: 50px;
    margin: 0 auto;
    text-align: center;
    background: white;
	border-radius: 100px;
	border: 5px solid black;
}

.links_social_midia img:hover {
    background: grey;
    border-radius: 100px;
	filter: brightness(120%);
	transition: 500ms;
	position: relative;
	width: 60px;
	top: -10px;

}

.links_social_midia a {
    text-decoration: none;
}

/* ==========     FOOTER     ========== */

.footer { 
    width: auto;
    text-align: center;
    top: 400px;
	position: relative;
	color: white;
}


/* === ABOUT === */

body#about { 
	background-color: black;
	filter: brightness(95%);
	position: relative;
	top: 50px;
	left: 150px;

}
/* === VIDEOS === */

.title-page { 
	text-align: center;
	color: white;
	width: 200px;
	margin: 0 auto;
	font-weight: bold;
	top: 80px;
	position: relative;
}

/* ==========     CARDS     ========== */

.cards {
	max-width: 930px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	align-items: center;
	border-radius: 5%;
	position: relative;
	top: 100px;
	cursor: pointer;
}

/* ==========     CARD     ========== */

.card { 
	background: grey;
	display: grid;
	position: relative;
}

/* ==========     CARD-IMAGE     ========== */

.card_image_container img {
	text-align: center;
	width: 100%;
	position: relative;
	margin: 0 auto;
}

/* ==========     CARD-CONTENT     ========== */

.card_content {
	text-align: left;
}

.card_content p {
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-align: center;
}

.card_content,
.card_info {
	padding: 10px;
}

/* ==========     CARD     ========== */

.card_info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;

}

.card_time {
	background: white;
	border-radius: 20px;
	padding: 1px;
	font-size: 15px;
	color: black;
	font-weight: 900;
	margin-right: 10px;
	text-align: center;
	width: 110px;

}

.card_price {
	background: white;
	filter: brightness(85%);
	border-radius: 20px;
	padding: 1px;
	text-align: center;
	font-size: 15px;
	color: black;
	font-weight: 900;
	align-items: center;
	width: 100px;
}

/* ==========     MODAL     ========== */

.modal-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%; 
	position: fixed;
	top: 0;
	opacity: 0;
	visibility: hidden;
}

.modal { 
	background-color: white;
	width: 90%;
	height: 90%;
	margin: 5vh auto;
	position: relative	;
}

/* ==========     IFRAME     ========== */

iframe { 
	width: 100%;
	height: 95%;
	position: absolute;
	top: 0%
}

/* ==========     MODAL ACTIVE     ========== */

.modal-overlay.active {
	opacity: 1;
	visibility: visible;
}

/* ==========     PAGE NOT-FOUND     ========== */

.page-not-found img{ 
    width: 100%;
    height: 80%;
    position: relative;
    display: grid;
    align-items: center;
}

/* ==========     FEATURED     ========== */

.featured-wrapper.card_image_container { 
	position: relative;
}

.featured { 
	position: absolute;
	background: #f7d05f;
	color: #111;
	padding: 2px 8px;
	right: 5px;
	border-radius: 16px;
	padding: 2px 8px;
	top: -10px;
}

/* ==========     VIDEO PAGE     ========== */

.video {
	margin: 0 auto;
	max-width: 800px;
	position: relative;
	top: 100px;
}

.video .card_video_container {
	position: relative;
	padding-top: 62.5%;
}


.video .card { 
	height: 620px;
	position: relative;
}

.video .card_content p {
	font-size: 20px;
	font-weight: bold;
	color: white;
	position: relative;
	top: 15px;
	text-align: left;
	margin-left: 15px;
}

.video .card_content,
.video .card_info {
	padding: 10px;
}

/* ==========     CARD     ========== */

.videos .cards { 
	border-radius: 50px;

}

.video .card { 
	background: grey;
	display: grid;
	position: relative;
} 

#wrapper .titleVideo {
	font-size: 30px;
	font-weight: bold;
	position: relative;
	top: 0px;
	color: white;
}

.video .card_content p{ 
	color: black;
}

.video .card_info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	align-items: center;
}

.video .card_time {
	border-radius: 20px;
	padding: 1px;
	font-size: 18px;
	color: black;
	font-weight: 900;
	margin-right: 10px;
	text-align: center;
	background-color: white;
	width: 150px;
	margin-left: 15px;
}

.video .card_price { 
	background: white;
	filter: brightness(85%);
	border-radius: 20px;
	padding: 1px;
	text-align: center;
	font-size: 18px;
	color: black;
	font-weight: 900;
	width: 250px;
	margin-left: 100px;
}

.video .card_video_container iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%
}


.card-courses {
    width: 1310px;
    height: 420px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    top: 180px;
    position: relative;
    background-color: grey;
    filter: brightness(80%);
    border-radius: 10px;
    border: 4px solid grey;
} 

/* === CARD === */

.card-course {
    width: 422px;
    height: 380px;
    background-color: grey;
    position: relative;
    margin: auto;
    border-radius: 50px;
    filter: grayscale(100%);
    font-weight: 500;
    cursor: pointer;
    border: 4px solid #66ff00;
}

.card-course-content-img img {
    border-radius: 20px;
    width: 415px;
    height: 150px;
    top: 10px;
    position: relative;
    margin: 0 auto;
}

/* === TITLE COURSE === */
h1.title-course { 
    width: 150px;
    top: 100px;
    text-align: center;
    color: white;
    position: relative;
    margin: 0 auto;
    font-weight: 300;
}
/* === CARD NAME === */

.card-course-name {
    background-color: white;
    position: relative;
    color: black;
    text-align: center;
    padding: 0;
    top: 100px;
    font-size: 20px;
}

.card-course-title {
    position: relative;
    top: -40px;
}

/* === CARD INFO === */

.card-course-title,
.card-course-info {
    position: relative;
    padding: 20px;
}

.card-course-info {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 50px;
}

.card-course-module {
    font-size: 18px;
    background-color: white;
    color: black;
    border-radius: 20px;
    text-align: center;
    width: 150px;
}

.card-course-price {
    font-size: 18px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    color:  black;
    filter: brightness(80%);
    width: 200px;
}

/* === CARD : HOVER === */

.card-course:hover{
    position: relative;
    width: 95%;
    height: 95%;
    transition: 200ms;
    text-align: center;
    border-radius: 5px;
    filter: grayscale(0%);
    background-color: black;
    font-weight: 900;
}

/* === MODAL === */

.modal-overlay { 
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    margin: 0 auto;
}

/* === BUTTONS === */

.close-modal { 
    position: absolute;
    right: 8px;
    top: 0px;
    cursor: pointer;
}

.maximize-modal { 
    position: absolute;
    border: 1px solid black;
    height: 18px;
    right: 40px;
    top: 2px;
    cursor: pointer;
}

.minimize-modal { 
    position: absolute;
    height: 5px;
    right: 75px;
    top: -5px;
    cursor: pointer;
}

/* === MODAL ACTIVE === */


.modal-overlay.active { 
    background-color: rgba(0, 0, 0, 0.1);
    width: 60%;
    height: 60%;
    position: fixed;
    top: 15%;
    left: 20%;
    opacity: 1;
    visibility: visible;
}

.modal-overlay.maximize { 
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 1;
    visibility: visible;
}

.modal-overlay.minimize { 
    background-color: rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 1;
    visibility: visible;
}

/* === IFRAME === */

iframe { 
    width: 100%;
    height: 96%;
    position: absolute;
    top: 4%;
}


/* ==========     VIDEO PAGE     ========== */

.video {
	margin: 0 auto;
	max-width: 800px;
	position: relative;
	top: 100px;
}

.video .card_video_container {
	position: relative;
	padding-top: 62.5%;
}


.video .card { 
	height: 620px;
	position: relative;
}

.video .card_content p {
	font-size: 20px;
	font-weight: bold;
	color: white;
	position: relative;
	top: 15px;
	text-align: left;
	margin-left: 15px;
}

.video .card_content,
.video .card_info {
	padding: 10px;
}

/* ==========     CARD     ========== */

.videos .cards { 
	border-radius: 50px;

}

.video .card { 
	background: grey;
	display: grid;
	position: relative;
} 

#wrapper .titleVideo {
	font-size: 30px;
	font-weight: bold;
	position: relative;
	top: 0px;
	color: white;
}

.video .card_content p{ 
	color: black;
}

.video .card_info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	align-items: center;
}

.video .card_time {
	border-radius: 20px;
	padding: 1px;
	font-size: 18px;
	color: black;
	font-weight: 900;
	margin-right: 10px;
	text-align: center;
	background-color: white;
	width: 150px;
	margin-left: 15px;
}

.video .card_price { 
	background: white;
	filter: brightness(85%);
	border-radius: 20px;
	padding: 1px;
	text-align: center;
	font-size: 18px;
	color: black;
	font-weight: 900;
	width: 250px;
	margin-left: 100px;
}

.video .card_video_container iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%
}