@import "https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,700&display=swap";

* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #1f2633;
	color: black;
}


.link_page {
	width: 250px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	padding: 0;
	margin: 0 auto;
	top: 25px;
	position: relative;

}

.link_page a {
	border: 3px solid black;
	padding: 10px;
	text-decoration: none;
	position: relative;
	border-radius: 10px;
	text-align: center;
	color: black;
    font-weight: 900;
	background-color: white;

    
}

.link_page a:hover {
	color: white;
	transition: color 200ms;
	background-color: grey;
	border: 3px solid black;
	font-weight: 900;
	transition: 400ms;
	filter: contrast(200%);
}
#wrapper {
	height: 450px;
	padding: 32px;
	top: 150px;
	position: relative;
	width: 350px;
	margin: 0 auto;
	text-align: center;

}

#wrapper img {
	border-radius: 50%;
	width: 220px;
	text-align: center;
	position: relative;
	border: 4px solid white;
}

#wrapper h1 {
	font-size: 35px;
	top: 80px;
	position: relative;
	color: whitesmoke;
}

#wrapper p {
	font-size: 28px;
	top: 120px;
	position: relative;
	color: whitesmoke;

}


div.links_social_midia {
    text-align: center;
    position: relative;
    width: 300px;
    margin: 0 auto;
    top: 250px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.links_social_midia img {
    width: 50px;
    margin: 0 auto;
    text-align: center;
    background: white;
	border-radius: 100px;
}

.links_social_midia img:hover {
    background: grey;
    border-radius: 100px;
	filter: brightness(120%);
	transition: 500ms;
	position: relative;
	width: 60px;
	top: -10px;

}

.links_social_midia a {
    text-decoration: none;
}

.footer { 
    width: auto;
    text-align: center;
    top: 300px;
	position: relative;
	color: white;
}


/* === about === */

body#about { 
	background-color: black;
	filter: brightness(95%);
	position: relative;
	top: 50px;
	left: 150px;

}

header#about {
	min-height: 100px;
	max-width: 0px;
	filter: brightness(95%);
	margin: auto;
	padding: 0;
	margin: 0;
	top: 50px;
	position: absolute;
	left: 150px;
}

div.links_page_about { 

	min-height: 1px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
}

.links_page_about{
	width: 320px;
	margin: 0 auto;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	top: 15px;
}

.links_page_about a { 
	border: 1px solid white;
	padding: 5px;
	text-decoration: none;
	position: relative;
	border-radius: 10px;
	text-align: center;
	color: white;
	font-weight: 900;
	
}

.links_page_about a:hover {
	color: black;
	transition: color 200ms;
	background: white;
	font-weight: 900;
}

.info { 
	width: 624px;
	min-height: 210px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
	top: 150px;
}

#info {
	border: 1px solid white;
	width: 300px;
	height: 200px;
	position: absolute;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
}

#info h1 {
	width: 40px;
	font-size: 20px;
	color: white;
	border-bottom: 3px solid grey;
	filter: brightness(97%);
	position: absolute;
	left: 5%;
}

#info p {
	font-size: 20px;
	padding: 15px;
	font-weight: normal;
	filter: brightness(97%);
	border-radius: 20px;
	position: absolute;
	color: white;
	top: 10%;
}

#bio {
	border: 1px solid white;
	width: 300px;
	height: 200px;
	left: 320px;
	position: absolute;
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}

#bio h1 {
	width: 40px;
	font-size: 20px;
	color: white;
	border-bottom: 3px solid grey;
	filter: brightness(97%);
	position: absolute;
	left: 5%;
}

#bio p {
	font-size: 20px;
	padding: 15px;
	font-weight: normal;
	filter: brightness(97%);
	border-radius: 20px;
	position: absolute;
	color: white;
	top: 10%;

}
/* === videos === */

body#video {
	background-color: rgba(0, 0, 0, 0.7);

}

header#video {
	min-height: 100px;
	max-width: 0px;
	filter: brightness(95%);
	margin: auto;
	padding: 0;
	margin: 0;
	top: 50px;
	position: absolute;
	left: 41.5%;
}

header#video a {
	margin: 0 25px;
  }

div.links_page_video { 
	min-height: 1px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	position: absolute;
}

.links_page_video {
	width: 320px;
	margin: 0 auto;
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	top: 15px;
}

.links_page_video a {
	border: 1px solid white;
	padding: 5px;
	text-decoration: none;
	position: relative;
	border-radius: 10px;
	text-align: center;
	color: white;
	font-weight: 900;
}

.links_page_video a:hover {
	color: grey;
	transition: color 200ms;
	background: white;
	font-weight: 900;
}

.cards {
	max-width: 1300px;
	height: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	border-radius: 5%;
	position: relative;
	top: 150px;

}

.card { 
	width: 100%;
	background: white;
	border-radius: 10%;
	
}


.card_image_container img {
	width: 100%;
	border-radius: 10%;
}

.card_image_container img#um{
	height: 312px;
}

.card_image_container img#dois{
	height: 312px;
}

.card_image_container img#tres{
	height: 312px;
}

.card_image_container img#quatro{
	height: 312px;
}

.card_image_container img#cinco{
	height: 312px;
}

.card_image_container img#seis{
	height: 312px;
}

	.card_content {
	text-align: center;
}

.card_content p {
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.card_content,
.card_info {
	color: whitesmoke;
	padding: 10px;
	font-size: 12px;
}

.card_info {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.card_time {
	max-width: 150px;
	background: black;
	border-radius: 20px;
	padding: 5px;
	text-align: center;
	font-size: 20px;
	color: white;
	font-weight: 900;
}

.card_price {
	background: white;
	filter: brightness(85%);
	border-radius: 20px;
	padding: 5px;
	text-align: center;
	font-size: 20px;
	color: black;
	font-weight: 900;
}

/* === modal === */

.modal-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%; 
	position: fixed;
	top: 0;
	opacity: 0;
	visibility: hidden;

}

.modal { 
	background-color: white;
	width: 90%;
	height: 90%;
	margin: 5vh auto;
	position: relative	;
}

 .modal .close-modal { 
	position: absolute;
	right: 8px;
	top: 8px;
	cursor: pointer;
}

/* === modal active === */

.modal-overlay.active {
	opacity: 1;
	visibility: visible;
}

iframe { 
	width: 100%;
	height: 95%;
	position: absolute;
	top: 5%;
}